.TaskContainer {
    background-color: #EEEEEE;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    margin: 10px 0;
    text-align: left;
}

.Task {
    display: inline-block;
    width: 80%;
    margin: 5px 10px;
    font-size: 1em;
    padding: 5px;
}

span.Task {
    border: 2px solid transparent;
    color: #757575;
}

input.Task {
    border-radius: 10px;
    border-color: transparent;
}

.Task.complete {
    text-decoration: line-through;
}