.App {
  text-align: center;
  font-size: 16px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: #FFF;
}

.App-title {
  font-size: 1.5em;
}

.container {
  width: 100%;
  padding: 40px;
}

@media (min-width: 768px) {

.container {
  width: 80%;
  margin: 0 auto;
}

}

@media (min-width: 1024px) {

.container {
  width: 60%;
}

}
